.flechas{  
  background-color: #337ab7;
  border-radius: 17px;
  border: 1px solid #fff;
}

.marg-text1{
  position: absolute;
  top:30%;
  left: 22%;
  right: 20%;
  z-index: 3;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0,0,0,.75);
  animation-delay: 1s;
}
/* .marg-text1 h3{
  font-size: em;
  font-weight: bold;
  margin: 0;
  padding:0;

} */

.marg-text2{
  position: absolute;
  top: 45%;
  left: 15%;
  right: 15%;
  padding-top: 28px;
  z-index: 3;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  animation-delay: 1s;
}

.marg-btn{
  position: absolute;
  top: 64%;
  left: 25%;
  right: 25%;
  z-index: 3;
}

.cubrir{
  position: absolute;
  background-color:#444;
  opacity: .9;
}
ul{
list-style: none;  
}
span{
  color:#fed136;
}

.marg-acerca{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 28px;
}
.marg-img-acerca{
  position: relative;
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 40px;
  padding-top: 40px;
}
.img-acerca{
  width: 100%
}


.marg-desc-acerca{
  text-align: justify;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.ul-pal{
  position: absolute;
  margin-left: -30px;
  margin-top: 4px;
  font-size: 11px;
  color: #3EC1D5;
}

.bg-primary{
  transition: all 1s ease;
}

.marg-titulo-servicios{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 28px;
}
.marg-icon-servicios{
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
    display: block;
    
}

.cambio-color{
  color:#212529;
}
.cambio-color:hover{
  color:#3EC1D5;
}

.marg-text-servicios{
  
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.marg-preguntas{
  padding-top: 30px;
  padding-bottom: 30px;

}

#margen-subtitu-pre{
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
  
}
.card-header{

  background-color: #F58723;
  line-height: 22px;
}
.marg-preguntas{
  padding-left: 40px;
  padding-right: 30px;
  text-align: justify;
}

.marg-recuadro{
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
}

.card-title:hover{
  color: #3EC1D5;
}

.marg-equipo{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.marg-imgenes{
  margin: 80px;
}

.Galeria{
  padding: 50px;
  position: relative;
  top: 60px;
  text-align: center;  
  background-color: #f8f9fa;
}

.tamañoImg{
  height: 10px;
  width: 220px;
}
 
.portafolio-item{
  right:40px;
  margin: 0 0 15px; 
  display: flex;
  flex-wrap: wrap;
} 

.portafolio-hover{
  position: absolute;
  max-width: 88%;
  height: 88%;
  left:0;
  right: 0;
  bottom:10px;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background:rgba(0,0,0,.75);
  
}
.portafolio-hover:hover{
  opacity: 1;
}

.portafolio-hover-contenido{
  font-size: 20px;
  position: absolute;
  top:50%;
  width: 100%;
  height:20%;
  margin-top: -12px;
  text-align: center;
  color:#fff;

}


.portafolio-nuevo{
  position: absolute;
  width: 88%;
  height: 100%;
  left:0;
  right: 0;
  bottom:0;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background:rgba(0,0,0,.75);
}

.portafolio-nuevo:hover{
  opacity: 1;
}



#imagen{
  background-image: url(../imagenes/equipo1.jpg);
  width: 250px;
  height: 308px;
  background-repeat: no-repeat;
  margin: 0px;
  margin-bottom: 100px;
  
}

#imagen2{
  background-image: url(../imagenes/equipo2.jpg);
  width: 250px;
  height: 308px;
  background-repeat: no-repeat;
  margin: 0px;
  margin-bottom: 100px;
}

#imagen3{
  background-image: url(../imagenes/equipo3.jpg);
  width: 250px;
  height: 308px;
  background-repeat: no-repeat;
  margin: 0px;
  margin-bottom: 100px;

 
}

#imagen4{
  background-image: url(../imagenes/equipo4.jpg);
  width: 250px;
  height: 308px;
  background-repeat: no-repeat;
  margin: 0px;
  margin-bottom: 100px;
}



#info{
  position: absolute;
  width: 250px;
  height: 308px;
  left: 0;
  background-color: rgba(0,0,0,.75);
  -webkit-transition: opacity 0.2s;
  opacity: 0;
}

#imagen:hover #info{
  opacity: 1;
}

#imagen2:hover #info{
  opacity: 1;
}

#imagen3:hover #info{
  opacity: 1;
}

#imagen4:hover #info{
  opacity: 1;
}


#letras{
  position: absolute;
  font-size: 21px;
  color: #fff;
  margin-left: 45%;
  margin-top: 50%;
}

.nombre-equipo{
    
    position: absolute;
    padding-top: 315px;
    padding-left: 20px;
    text-align: center;
    color: black;
  }

  .nombre-equipo2{
    position: absolute;
    padding-top: 315px;
    padding-left: -10px;
    text-align: center;
    color: black;
  }